<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.taskManager.domain.mapper.frontend.FrontTaskNodeMapper" >
    <resultMap id="FrontTaskNodeMap" type="com.cn.taskManager.domain.entity.FrontTaskNode" >
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="time"  property="time" />
        <result column="log" jdbcType="VARCHAR" property="log" />
        <result column="output" jdbcType="VARCHAR" property="output" />
        <association property="frontTask" resultMap="FrontTaskMap" />
    </resultMap>
    <resultMap id="FrontTaskMap" type="com.cn.taskManager.domain.entity.FrontTask" >
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="accomplish" jdbcType="VARCHAR" property="accomplish" />
        <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
        <result column="task_detail" jdbcType="VARCHAR" property="taskDetail" />
        <result column="input" jdbcType="VARCHAR" property="input" />
        <result column="output" jdbcType="VARCHAR" property="output" />
        <result column="progress" jdbcType="VARCHAR" property="progress" />
        <result column="progress" jdbcType="VARCHAR" property="progress" />
    </resultMap>

    <sql id="columnSql">
      id,task_id,`time`,log,`output`
    </sql>

    <select id="queryHeightTaskList" resultMap="FrontTaskNodeMap">
  	    SELECT *
        FROM front_task_node AS ftn
        LEFT JOIN front_task AS ft ON ftn.task_id = ft.id
        WHERE to_days(ftn.time) &lt;= to_days(now())
    </select>
</mapper>
