<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.taskManager.domain.mapper.backend.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.cn.taskManager.domain.entity.SysConfig" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="group" jdbcType="TINYINT" property="group" />
    <result column="need_auth" jdbcType="TINYINT" property="needAuth" />
  </resultMap>

</mapper>
