<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.taskManager.domain.mapper.backend.SysStructureMapper" >
    <resultMap id="sysDictMap" type="com.cn.taskManager.domain.entity.SysDict" >
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="dict_group_code" jdbcType="VARCHAR" property="dictGroupCode" />
    </resultMap>

    <sql id="sysDictSql">
  	  id, dict_code, `name`, status,dict_group_code
    </sql>

    <!-- 查询用户列表 -->
    <select id="querySysDictList" resultMap="sysDictMap">
        select <include refid="sysDictSql"/>
        from sys_user
        where 1=1
        <if test="dictCode != null and dictCode != ''">
            and dict_code = #{dictCode}
        </if>
        <if test="name != null and name != ''">
            `name` = #{name}
        </if>
        <if test="status != null and status != ''">
            status = #{status}
        </if>

        <if test="dictGroupCode != null and dictGroupCode != ''">
            dict_group_code = #{dictGroupCode}
        </if>

        <if test="pageNum != null and pageSize != null">
            limit #{page},#{pageSize}
        </if>

    </select>
</mapper>
