<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.taskManager.domain.mapper.backend.SysUserDetailMapper" >
  <!--<resultMap id="BaseResultMap" type="com.cn.taskManager.domain.entity.SysUserDetail" >-->
    <!--<constructor >-->
      <!--<idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />-->
      <!--<arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />-->
      <!--<arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />-->
      <!--<arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />-->
    <!--</constructor>-->
  <!--</resultMap>-->

</mapper>
