$base-font-family: 'microsoft yahei';

$head-height: 60px;                 // head 高度
$footer-height: 44px;               // footer 高度
$sidebar-width: 180px;              // 侧边栏宽度

$base-height: 28px;                 // input button 表格head 高度

$color-standard: #1daaf2;           // 标准颜色
$color-supplementary: #b5e6ff;      // 主色调辅助颜色
$color-auxiliary: #ffd200;          // 辅助颜色
$color-guard: #f82025;              // 警惕 重点颜色

$font-color-standard: #9f9f9f;      // 普通文字颜色
$font-color-keynote: #333;          // 正文字颜色 / 标题...

$font-size-standard: 12px;          // 普通文字
$font-size-keynote: 14px;           // 正文 / 标题...

$border-color: #e5e5e5;             // 分割线

$bg-color: #f9f9f9;                 // 主背景色
$bg-color-container: #fff;          // 容器背景色

$base-spacing: 15px;                // 间距
$base-spacing-module: 10px;         // 模块间距
